///////////////////? Proxima Nova
@font-face {
  font-family: "Proxima Nova";
  src: url("@fonts/proxima_nova-100.woff") format("woff"),
    url("@fonts/proxima_nova-100.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("@fonts/proxima_nova-200.woff") format("woff"),
    url("@fonts/proxima_nova-200.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("@fonts/proxima_nova-300.woff") format("woff"),
    url("@fonts/proxima_nova-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("@fonts/proxima_nova-400.woff") format("woff"),
    url("@fonts/proxima_nova-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("@fonts/proxima_nova-700.woff") format("woff"),
    url("@fonts/proxima_nova-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("@fonts/proxima_nova-800.woff") format("woff"),
    url("@fonts/proxima_nova-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("@fonts/proxima_nova-900.woff") format("woff"),
    url("@fonts/proxima_nova-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

//////////////////////? SharpSans
@font-face {
  font-family: "SharpSans";
  src: url("@fonts/SharpSans-400.woff") format("woff"),
    url("@fonts/SharpSans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SharpSans";
  src: url("@fonts/SharpSans-700.woff") format("woff"),
    url("@fonts/SharpSans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
