// Media query breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1400px;

// Colors
$color-orange: #ffd6a8;
$color-orange-dark: #b45021;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #f8f9f9;
$color-grey-dark: #333;
$color-green-dark: #02363d;

// Fonts
$font-main: "Lato", sans-serif;
