@import "@styles/utils/_variables.scss";

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.4rem 0;
  font-family: $font-main;
  color: $color-green-dark;
  background-image: url("@images/bg-banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  a {
    display: block;
    padding: 0.4rem 0.8rem;
    margin: 0.4rem 0;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-white;
    background-color: $color-orange-dark;
    border-radius: 3px;
  }

  &__title {
    margin-top: 0.8rem;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 800;
  }

  &__subtitle {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 0.2px;
  }

  p {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (min-width: $breakpoint-sm) {
  .Header {
    a {
      font-size: 1.5rem;
    }

    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1.8rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .Header {
    a {
      font-size: 1.6rem;
    }

    &__title {
      font-size: 2.4rem;
    }

    &__subtitle {
      font-size: 2rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}
