@import "@styles/utils/_variables.scss";

.Info {
  padding: 2rem 1.6rem;
  font-family: $font-main;
  color: $color-green-dark;

  &__banner {
    width: 100%;
    margin-bottom: 2rem;

    img {
      margin: 0 auto;
    }
  }

  &__description {
    p {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
  }

  &__speakers {
    display: flex;
    flex-direction: column;

    .Info__speaker {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2rem;

      &__image {
        display: block;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;

        h3 {
          font-size: 1.6rem;
          font-weight: 600;
        }

        p {
          font-size: 1.4rem;
          font-weight: 400;
          letter-spacing: 0.1px;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .Info {
    max-width: 64rem;
    margin: 0 2rem;

    &__description {
      padding: 0 1rem;
      p {
        font-size: 1.6rem;
      }
    }

    &__speakers {
      padding: 0 1rem;
      .Info__speaker {
        &__image {
          width: 5.6rem;
          height: 5.6rem;
        }

        &__content {
          h3 {
            font-size: 1.8rem;
          }

          p {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .Info {
    padding: 0;
    min-height: 84rem;
    margin: 0;

    &__banner {
      width: 100%;

      img {
        margin: 0;
        margin-left: 1rem;
      }
    }

    &__description {
      padding: 0;
      p {
        font-size: 1.6rem;
        margin-bottom: 2.8rem;
      }
    }

    &__speakers {
      margin-bottom: 2.8rem;
      .Info__speaker {
        padding: 0;
      }
    }
  }
}
